RewriteEngine On

RewriteRule ^([\w-]+)$ routes/$1.php [L]
RewriteRule ^([\w-]+)/(\d+)$ routes/$1.php [L]
RewriteRule ^([\w-]+)/([\w-]+)/(\d+)$ routes/$1.php [L]
RewriteRule ^([\w-]+)/([\w-]+)$ routes/$1.php [L]
